<div class="row marketing">
  <h1>Wet 'n' Wild baby!</h1>

  <ul class="products list-group">
    <li class="list-group-item" ng-repeat="product in products | orderBy:ProductPrice">
      <h2>{{product.ProductName}}</h2>
      <p>{{product.ProductPrice | currency:"$"}}</p>
      <select ng-model="product.qty" ng-init="product.qty = product.qty || selectNumberOptions[0]" ng-options="number for number in selectNumberOptions">
        
      </select>
      <p>{{product.ProductDescription}}</p>
      

      <button type="button" ng-click="doSomething(product)" class="btn btn-default">Add to Cart</button>
    </li>
  </ul>

</div>
